<div class="jumbotron mt-4">
    <h1 class="display-4">
        Accueil
    </h1>
    <p class="lead">Bienvenu sur cet outil de gestion de taches.</p>
    <hr class="my-4">
    <p>Veuillez vous conncter ou creer un compte.</p>
</div>